In [22]:
import pandas as pd
import numpy as np

In [23]:
#load excel file data with headers

location = "documents/immigration.xlsx"
df = pd.read_excel(location)
df.head(10)

,Year,Origin,Continent,CaseStartyear,applied,YearTotal,Recognized,Unrecognized,TotalDecisions
0,2010.0,Afghanistan,Asia,63.0,156.0,219.0,87.0,55.0,142.0
1,2010.0,Albania,Europe,440.0,168.0,608.0,173.0,274.0,447.0
2,2010.0,Algeria,Africa,25.0,21.0,46.0,8.0,22.0,30.0
3,2010.0,Angola,Africa,18.0,16.0,34.0,7.0,24.0,31.0
4,2010.0,Antigua and Barbuda,North America,1.0,4.0,5.0,1.0,2.0,3.0
5,2010.0,Argentina,South America,64.0,40.0,104.0,9.0,56.0,65.0
6,2010.0,Armenia,Asia,1044.0,230.0,1274.0,271.0,428.0,699.0
7,2010.0,Australia,Australia,0.0,3.0,3.0,0.0,9.0,9.0
8,2010.0,Austria,Europe,0.0,3.0,3.0,0.0,3.0,3.0
9,2010.0,Azerbaijan,Asia,55.0,41.0,96.0,26.0,46.0,72.0

In [24]:
df.tail(3)

,Year,Origin,Continent,CaseStartyear,applied,YearTotal,Recognized,Unrecognized,TotalDecisions
1273,2016.0,Zambia,Africa,25.0,14.0,39.0,0.0,0.0,0.0
1274,2016.0,Zimbabwe,Africa,374.0,241.0,615.0,16.0,33.0,59.0
1275,NaN,NaN,Africa,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.shape

(1276, 9)

In [26]:
#show the column names in the dataset
df.columns
#or print(df.columns)

Index(['Year', 'Origin', 'Continent', 'CaseStartyear', 'applied', 'YearTotal',
       'Recognized', 'Unrecognized', 'TotalDecisions'],
      dtype='object')

In [27]:
#show the data type of each column
df.dtypes

Year              float64
Origin             object
Continent          object
CaseStartyear     float64
applied           float64
YearTotal         float64
Recognized        float64
Unrecognized      float64
TotalDecisions    float64
dtype: object

In [28]:
#number of non-NA values
#len(df) would count rows including NA values
df.count()

Year              1275
Origin            1275
Continent         1276
CaseStartyear     1275
applied           1275
YearTotal         1275
Recognized        1275
Unrecognized      1275
TotalDecisions    1275
dtype: int64

In [29]:
#descriptive statistics
df.describe()

,Year,CaseStartyear,applied,YearTotal,Recognized,Unrecognized,TotalDecisions
count,1275.000000,1275.000000,1275.000000,1275.000000,1275.000000,1275.000000,1275.000000
mean,2013.004706,561.488627,526.334902,1087.823529,118.931765,295.279216,415.847843
std,2.012514,3044.529639,2347.605769,5196.179158,573.629044,1304.228984,1758.598711
min,2010.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,2.000000,6.000000,12.000000,0.000000,3.000000,4.500000
50%,2013.000000,23.000000,38.000000,75.000000,7.000000,26.000000,36.000000
75%,2015.000000,154.000000,231.000000,390.500000,65.000000,133.000000,210.000000
max,2016.000000,46062.000000,33620.000000,73941.000000,9654.000000,14673.000000,22022.000000

In [32]:
#doesn't do anything on its own
df.groupby('CaseStartyear')

In [33]:
#add a stats or math function to it
df['Recognized'].groupby(df['CaseStartyear']).mean()

#mean of multiple columns
#df[['Recognized', 'Year']].groupby(df['CaseStartyear']).mean()

CaseStartyear
0.0           2.384956
1.0           2.671875
2.0           2.943396
3.0           5.187500
4.0           3.818182
5.0           7.370370
6.0           7.214286
7.0           5.470588
8.0           5.800000
9.0           6.294118
10.0         14.315789
11.0          6.636364
12.0          7.153846
13.0         23.333333
14.0         14.500000
15.0         21.769231
16.0         10.857143
17.0         12.384615
18.0         24.181818
19.0         19.285714
20.0          0.000000
21.0         18.500000
22.0          7.666667
23.0         28.888889
24.0         11.800000
25.0         20.857143
26.0          1.666667
27.0         46.800000
28.0          6.111111
29.0         28.500000
              ...
4036.0      266.000000
4108.0       78.000000
4293.0      470.000000
4950.0      451.000000
4961.0      121.000000
5422.0     7743.000000
5659.0      505.000000
6480.0      164.000000
6897.0      196.000000
7329.0      450.000000
8606.0      399.000000
8631.0     1677.000000
8670.0      277.000000
10326.0     139.000000
10548.0     514.000000
11148.0     211.000000
11399.0     821.000000
11911.0    6446.000000
12162.0     814.000000
15654.0    2377.000000
16474.0    2441.000000
18438.0    1699.000000
24588.0     687.000000
26687.0    2325.000000
28802.0    2691.000000
29253.0     878.000000
33701.0    7100.000000
37274.0    5249.000000
45525.0    4171.000000
46062.0     989.000000
Name: Recognized, Length: 410, dtype: float64

In [34]:
#use two columns to groupby
df.groupby(['CaseStartyear', 'Unrecognized']).mean()

                                   Year       applied     YearTotal  \
CaseStartyear Unrecognized
0.0           0.0           2014.229167      1.156250      1.156250
              1.0           2011.052632      1.552632      1.552632
              2.0           2011.000000      1.133333      1.133333
              3.0           2010.928571      4.357143      4.357143
              4.0           2011.285714      2.571429      2.571429
              5.0           2011.416667      2.750000      2.750000
              6.0           2011.166667      5.000000      5.000000
              7.0           2011.666667      1.666667      1.666667
              8.0           2012.500000     13.500000     13.500000
              9.0           2011.000000      4.857143      4.857143
              10.0          2011.750000      8.500000      8.500000
              12.0          2012.000000      5.000000      5.000000
              13.0          2011.000000      5.000000      5.000000
              15.0          2011.500000      5.500000      5.500000
              16.0          2011.500000     12.250000     12.250000
              17.0          2011.000000     20.000000     20.000000
              19.0          2012.000000     18.000000     18.000000
              21.0          2011.000000     17.000000     17.000000
              22.0          2011.000000     33.000000     33.000000
              23.0          2012.000000     21.000000     21.000000
              29.0          2011.500000     22.000000     22.000000
              31.0          2011.000000     15.000000     15.000000
              44.0          2012.000000     30.000000     30.000000
              75.0          2011.000000     88.000000     88.000000
              95.0          2011.000000    170.000000    170.000000
              137.0         2012.000000    359.000000    359.000000
              460.0         2013.000000    175.000000    175.000000
1.0           0.0           2013.555556      2.555556      3.555556
              1.0           2014.125000      1.625000      2.625000
              2.0           2011.285714      4.142857      5.142857
...                                 ...           ...           ...
4036.0        259.0         2015.000000   7369.000000  11405.000000
4108.0        1782.0        2014.000000   3545.000000   7653.000000
4293.0        681.0         2016.000000   2097.000000   6390.000000
4950.0        2627.0        2014.000000   6798.000000  11748.000000
4961.0        926.0         2016.000000   3969.000000   8930.000000
5422.0        7735.0        2013.000000  12295.000000  17717.000000
5659.0        1129.0        2014.000000   3395.000000   9054.000000
6480.0        4976.0        2010.000000   3879.000000  10359.000000
6897.0        1826.0        2015.000000   3732.000000  10629.000000
7329.0        1345.0        2015.000000   3650.000000  10979.000000
8606.0        4521.0        2010.000000   2171.000000  10777.000000
8631.0        6148.0        2015.000000  14255.000000  22886.000000
8670.0        5257.0        2010.000000   2685.000000  11355.000000
10326.0       2564.0        2016.000000   4423.000000  14749.000000
10548.0       1644.0        2016.000000   6162.000000  16710.000000
11148.0       353.0         2016.000000  18312.000000  29460.000000
11399.0       4464.0        2014.000000   9098.000000  20497.000000
11911.0       11522.0       2010.000000  12510.000000  24421.000000
12162.0       4905.0        2014.000000  10093.000000  22255.000000
15654.0       7905.0        2015.000000  16419.000000  32073.000000
16474.0       10005.0       2015.000000  18883.000000  35357.000000
18438.0       7264.0        2016.000000  19470.000000  37908.000000
24588.0       11935.0       2014.000000  13987.000000  38575.000000
26687.0       8991.0        2016.000000  25723.000000  52410.000000
28802.0       11553.0       2016.000000  33620.000000  62422.000000
29253.0       10250.0       2015.000000  19294.000000  48547.000000
33701.0       8118.0        2014.000000  13716.000000  47417.000000
37274.0       7525.0        2015.000000  15092.000000  52366.000000
45525.0       6913.0        2016.000000  19868.000000  65393.000000
46062.0       14673.0       2016.000000  27879.000000  73941.000000

                             Recognized  TotalDecisions
CaseStartyear Unrecognized
0.0           0.0              0.260417        0.260417
              1.0              0.315789        1.315789
              2.0              0.466667        2.466667
              3.0              1.428571        4.428571
              4.0              0.571429        4.571429
              5.0              0.333333        5.333333
              6.0              1.500000        7.500000
              7.0              0.333333        7.333333
              8.0              0.500000        8.500000
              9.0              1.857143       10.857143
              10.0             0.500000       10.500000
              12.0             2.000000       14.000000
              13.0             8.000000       21.000000
              15.0             0.500000       15.500000
              16.0             3.750000       19.750000
              17.0             7.000000       24.000000
              19.0             6.000000       25.000000
              21.0             6.000000       27.000000
              22.0             3.500000       25.500000
              23.0             2.000000       25.000000
              29.0             4.000000       33.000000
              31.0            11.000000       42.000000
              44.0             3.000000       47.000000
              75.0            26.000000      101.000000
              95.0            54.000000      149.000000
              137.0          225.000000      362.000000
              460.0           60.000000      520.000000
1.0           0.0              1.333333        1.333333
              1.0              0.250000        1.250000
              2.0              0.857143        2.857143
...                                 ...             ...
4036.0        259.0          266.000000      525.000000
4108.0        1782.0          78.000000     1885.000000
4293.0        681.0          470.000000     1151.000000
4950.0        2627.0         451.000000     3197.000000
4961.0        926.0          121.000000     1047.000000
5422.0        7735.0        7743.000000    15478.000000
5659.0        1129.0         505.000000     1686.000000
6480.0        4976.0         164.000000     5140.000000
6897.0        1826.0         196.000000     2022.000000
7329.0        1345.0         450.000000     1795.000000
8606.0        4521.0         399.000000     4920.000000
8631.0        6148.0        1677.000000     7909.000000
8670.0        5257.0         277.000000     5534.000000
10326.0       2564.0         139.000000     2703.000000
10548.0       1644.0         514.000000     2159.000000
11148.0       353.0          211.000000      564.000000
11399.0       4464.0         821.000000     5401.000000
11911.0       11522.0       6446.000000    17968.000000
12162.0       4905.0         814.000000     5845.000000
15654.0       7905.0        2377.000000    10282.000000
16474.0       10005.0       2441.000000    12526.000000
18438.0       7264.0        1699.000000     8964.000000
24588.0       11935.0        687.000000    12752.000000
26687.0       8991.0        2325.000000    11316.000000
28802.0       11553.0       2691.000000    14244.000000
29253.0       10250.0        878.000000    11224.000000
33701.0       8118.0        7100.000000    15588.000000
37274.0       7525.0        5249.000000    12774.000000
45525.0       6913.0        4171.000000    11084.000000
46062.0       14673.0        989.000000    15662.000000

[945 rows x 5 columns]

In [ ]:
#unique values in a column
df['age'].unique()